<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aidingding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD680F2A1CC4CD2E0057FB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD680F3E1CC4CD2E0057FB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD680F491CC4CD2F0057FB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
